
export(
  lifedata, print.lifedata, 
  median_ranks, median_ranks.lifedata,
  fit_data, fit_data.lifedata,
  plot.fitted_life_data, hist.fitted_life_data, hist.lifedata, 
  pieplot, pieplot.lifedata, pieplot.fitted_life_data,
  calculate, calculate.fitted_life_data,
  test_weibullpp,
       weibull_2p_like_1,
       find_mle
  
)
export(recurrentdata, plot.recurrentdata, mle_recurrent)


