
export(
  lifedata, print.lifedata, 
  fit_data, fit_data.lifedata,
  plot.fitted_life_data,
  test_weibullpp,
       weibull_2p_like_1,
       find_mle
  
)
export(recurrentdata, plot.recurrentdata, mle_recurrent)

